<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">Tasty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="menu.html" class="nav-link">Menu</a></li>
        <li class="nav-item"><a href="specialties.html" class="nav-link">Specialties</a></li>
        <li class="nav-item"><a href="reservation.html" class="nav-link">Reservation</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<section class="home-slider owl-carousel">
  <div class="slider-item" style='background-image: url("src/assets/images/bg_1.jpg");'>
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center text-center">
        <div class="col-md-10 col-sm-12 ftco-animate">
          <h1 class="mb-3">Book a table for yourself at a time convenient for you</h1>
          <p><a href="reservation.html" class="btn btn-primary btn-outline-white px-5 py-3">Book a table</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url('src/assets/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center text-center">
        <div class="col-md-10 col-sm-12 ftco-animate">
          <h1 class="mb-3">Tasty &amp; Delicious Food</h1>
          <p><a href="reservation.html" class="btn btn-primary btn-outline-white px-5 py-3">Book a table</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url('src/assets/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center text-center">
        <div class="col-md-10 col-sm-12 ftco-animate">
          <h1 class="mb-3">Book a table for yourself at a time convenient for you</h1>
          <p><a href="reservation.html" class="btn btn-primary btn-outline-white px-5 py-3">Book a table</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END slider -->

<div class="ftco-section-reservation">
  <div class="container">
    <div class="row">
      <div class="col-md-12 reservation pt-5 px-5">
        <div class="block-17">
          <form action="#" method="post" class="d-block d-lg-flex">
            <div class="fields d-block d-lg-flex">

              <div class="textfield-name one-third"><input type="text" class="form-control" placeholder="Name"></div>

              <div class="textfield-phone one-third"><input type="text" class="form-control" placeholder="Phone"></div>

              <div class="book-date one-third"><input type="text" id="book_date" class="form-control" placeholder="M/D/YYYY"></div>

              <div class="book-time one-third">
                <input type="text" id="book_time" class="form-control" placeholder="Time">
              </div>

              <div class="select-wrap one-third">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <select name="" id="" class="form-control">
                  <option value="">Person</option>
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4+</option>
                </select>
              </div>
            </div>
            <input type="submit" class="search-submit btn btn-primary" value="Book a table">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section-2">
  <div class="container d-flex">
    <div class="section-2-blocks-wrapper row">
      <div class="img col-sm-12 col-lg-6" style="background-image: url('src/assets/images/about-2.jpg');">
      </div>
      <div class="text col-lg-6 ftco-animate">
        <div class="text-inner align-self-start">
          <span class="subheading">About Tasty</span>
          <h3 class="heading">Our chef cooks the most delicious food for you</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Our Menu</span>
        <h2>Discover Our Exclusive Menu</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 dish-menu">

        <div class="nav nav-pills justify-content-center ftco-animate" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link py-3 px-4 active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="flaticon-meat"></span> Main</a>
          <a class="nav-link py-3 px-4" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="flaticon-cutlery"></span> Dessert</a>
          <a class="nav-link py-3 px-4" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span class="flaticon-cheers"></span> Drinks</a>
        </div>

        <div class="tab-content py-5" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row">
              <div class="col-lg-6">
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dish-3.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Grilled Beef with potatoes</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dish-4.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Fruit Vanilla Ice Cream</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dish-5.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Asian Hoisin Pork</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dish-6.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Spicy Fried Rice &amp; Bacon</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dish-7.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Mango Chili Chutney</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dish-8.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Savory Watercress Chinese Pancakes</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dish-9.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Soup With Vegetables And Meat</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dish-10.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Udon Noodles With Vegetables</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dish-11.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Baked Lobster With A Garnish</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dish-12.html);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Octopus with Vegetables</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- END -->

          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row">
              <div class="col-lg-6">
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dessert-1.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Grilled Beef with potatoes</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dessert-2.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Grilled Beef with potatoes</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dessert-3.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Grilled Beef with potatoes</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dessert-4.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Grilled Beef with potatoes</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dessert-5.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Grilled Beef with potatoes</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dessert-6.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Tiramisu</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dessert-7.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Chocolate Cream</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dessert-8.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Pizza Pie</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dessert-9.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Sicilian Ricotta</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/dessert-10.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Mango FLoat</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- END -->

          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="row">
              <div class="col-lg-6">
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/drink-1.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Lemon Juice</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/drink-2.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Guava Juice</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/drink-3.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Sprite</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/drink-4.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Cola</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/drink-5.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Wine</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/drink-6.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Beer</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/drink-7.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Mango Juice</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/drink-8.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Apple Juice</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/drink-9.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Strawberry Juice</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
                <div class="menus d-flex ftco-animate">
                  <div class="menu-img" style="background-image: url(src/assets/images/drink-10.jpg);"></div>
                  <div class="text d-flex">
                    <div class="one-half">
                      <h3>Orange Juice</h3>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    </div>
                    <div class="one-forth">
                      <span class="price">$29</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 pt-4 text-center ftco-animate">
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost</p>
            <span><a href="reservation.html" class="btn btn-primary btn-outline-primary p-3">Make a Reservation</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section parallax-img" style="background-image: url('src/assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <h2>Our Specialties</h2>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section bg-light">
  <div class="container special-dish">
    <div class="row d-flex no-gutters">
      <div class="col-lg-6">
        <div class="block-3 d-md-flex ftco-animate">
          <div class="image order-last" style="background-image: url(src/assets/images/dish-3.jpg);"></div>
          <div class="text text-center order-first">
            <h2 class="heading">Beef Steak</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            <span class="price">from $10.00</span>
          </div>
        </div>
        <div class="block-3 d-md-flex ftco-animate">
          <div class="image order-first" style="background-image: url(src/assets/images/dish-4.jpg);"></div>
          <div class="text text-center order-first">
            <h2 class="heading">Beef Ribs Steak</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            <span class="price">from $10.00</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="block-3 d-md-flex ftco-animate">
          <div class="image order-last" style="background-image: url(src/assets/images/dish-5.jpg);"></div>
          <div class="text text-center order-first">
            <h2 class="heading">Chopsuey</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            <span class="price">from $10.00</span>
          </div>
        </div>
        <div class="block-3 d-md-flex ftco-animate">
          <div class="image order-first" style="background-image: url(src/assets/images/dish-6.jpg);"></div>
          <div class="text text-center order-first">
            <h2 class="heading">Roasted Chieken</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            <span class="price">from $10.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Guests Says</span>
        <h2>Our Satisfied Guests says</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="carousel owl-carousel ftco-owl">
        <div class="item text-center">
          <div class="testimony-wrap p-4 pb-5">
            <div class="user-img mb-4" style="background-image: url(src/assets/images/person_1.jpg)" style="border: 1px solid red;"></div>
            <div class="text">
              <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
              <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p class="name">Dennis Green</p>
              <span class="position">Guests from Italy</span>
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="testimony-wrap p-4 pb-5">
            <div class="user-img mb-4" style="background-image: url(src/assets/images/person_2.jpg)" style="border: 1px solid red;"></div>
            <div class="text">
              <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
              <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p class="name">Dennis Green</p>
              <span class="position">Guests from Italy</span>
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="testimony-wrap p-4 pb-5">
            <div class="user-img mb-4" style="background-image: url(src/assets/images/person_3.jpg)" style="border: 1px solid red;"></div>
            <div class="text">
              <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
              <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p class="name">Dennis Green</p>
              <span class="position">Guests from Italy</span>
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="testimony-wrap p-4 pb-5">
            <div class="user-img mb-4" style="background-image: url(src/assets/images/person_1.jpg)" style="border: 1px solid red;"></div>
            <div class="text">
              <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
              <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p class="name">Dennis Green</p>
              <span class="position">Guests from Italy</span>
            </div>
          </div>
        </div>
        <div class="item text-center">
          <div class="testimony-wrap p-4 pb-5">
            <div class="user-img mb-4" style="background-image: url(src/assets/images/person_1.jpg)" style="border: 1px solid red;"></div>
            <div class="text">
              <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
              <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p class="name">Dennis Green</p>
              <span class="position">Guests from Italy</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Blog</span>
        <h2>Recent Blog</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="carousel1 owl-carousel ftco-owl">
        <div class="item">
          <div class="blog-entry">
            <a href="blog-single.html" class="block-20" style="background-image: url('src/assets/images/image_5.jpg');">
            </a>
            <div class="text p-4">
              <div class="meta">
                <div><a href="#">July 7, 2018</a></div>
                <div><a href="#">Admin</a></div>
              </div>
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <p class="clearfix">
                <a href="#" class="float-left read">Read more</a>
                <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="blog-entry" data-aos-delay="100">
            <a href="blog-single.html" class="block-20" style="background-image: url('src/assets/images/image_6.jpg');">
            </a>
            <div class="text p-4">
              <div class="meta">
                <div><a href="#">July 7, 2018</a></div>
                <div><a href="#">Admin</a></div>
              </div>
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <p class="clearfix">
                <a href="#" class="float-left read">Read more</a>
                <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="blog-entry" data-aos-delay="200">
            <a href="blog-single.html" class="block-20" style="background-image: url('src/assets/images/image_7.jpg');">
            </a>
            <div class="text p-4">
              <div class="meta">
                <div><a href="#">July 7, 2018</a></div>
                <div><a href="#">Admin</a></div>
              </div>
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <p class="clearfix">
                <a href="#" class="float-left read">Read more</a>
                <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="blog-entry" data-aos-delay="200">
            <a href="blog-single.html" class="block-20" style="background-image: url('src/assets/images/image_8.jpg');">
            </a>
            <div class="text p-4">
              <div class="meta">
                <div><a href="#">July 7, 2018</a></div>
                <div><a href="#">Admin</a></div>
              </div>
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <p class="clearfix">
                <a href="#" class="float-left read">Read more</a>
                <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="blog-entry" data-aos-delay="200">
            <a href="blog-single.html" class="block-20" style="background-image: url('src/assets/images/image_9.html');">
            </a>
            <div class="text p-4">
              <div class="meta">
                <div><a href="#">July 7, 2018</a></div>
                <div><a href="#">Admin</a></div>
              </div>
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <p class="clearfix">
                <a href="#" class="float-left read">Read more</a>
                <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="instagram">
  <div class="container-fluid">
    <div class="row no-gutters justify-content-center pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2><span>Instagram</span></h2>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-sm-12 col-md ftco-animate">
        <a href="src/assets/images/insta-1.jpg" class="insta-img image-popup" style="background-image: url(src/assets/images/insta-1.jpg);">
          <div class="icon d-flex justify-content-center">
            <span class="icon-instagram align-self-center"></span>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md ftco-animate">
        <a href="src/assets/images/insta-2.jpg" class="insta-img image-popup" style="background-image: url(src/assets/images/insta-2.jpg);">
          <div class="icon d-flex justify-content-center">
            <span class="icon-instagram align-self-center"></span>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md ftco-animate">
        <a href="src/assets/images/insta-3.jpg" class="insta-img image-popup" style="background-image: url(src/assets/images/insta-3.jpg);">
          <div class="icon d-flex justify-content-center">
            <span class="icon-instagram align-self-center"></span>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md ftco-animate">
        <a href="src/assets/images/insta-4.jpg" class="insta-img image-popup" style="background-image: url(src/assets/images/insta-4.jpg);">
          <div class="icon d-flex justify-content-center">
            <span class="icon-instagram align-self-center"></span>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md ftco-animate">
        <a href="src/assets/src/assets/images/insta-5.jpg" class="insta-img image-popup" style='background-image: url("src/assets/images/insta-5.jpg");'>
          <div class="icon d-flex justify-content-center">
            <span class="icon-instagram align-self-center"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Tasty</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Opening Hours</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Monday: <span>08: - 22:00</span></a></li>
            <li><a href="#" class="py-2 d-block">Tuesday: <span>08: - 22:00</span></a></li>
            <li><a href="#" class="py-2 d-block">Wednesday: <span>08: - 22:00</span></a></li>
            <li><a href="#" class="py-2 d-block">Thursday: <span>08: - 22:00</span></a></li>
            <li><a href="#" class="py-2 d-block">Friday: <span>08: - 22:00</span></a></li>
            <li><a href="#" class="py-2 d-block">Saturday: <span>08: - 22:00</span></a></li>
            <li><a href="#" class="py-2 d-block">Sunday: <span>08: - 22:00</span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contact Information</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">198 West 21th Street, Suite 721 New York NY 10016</a></li>
            <li><a href="#" class="py-2 d-block">+ 1235 2355 98</a></li>
            <li><a href="#" class="py-2 d-block"><span class="__cf_email__" data-cfemail="88e1e6eee7c8f1e7fdfafbe1fceda6ebe7e5">[email&#160;protected]</span></a></li>
            <li><a href="#" class="py-2 d-block"><span class="__cf_email__" data-cfemail="254048444c49654048444c490b464a48">[email&#160;protected]</span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Newsletter</h2>
          <p>Far far away, behind the word mountains, far from the countries.</p>
          <form action="#" class="subscribe-form">
            <div class="form-group">
              <span class="icon icon-paper-plane"></span>
              <input type="text" class="form-control" placeholder="Subscribe">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          Copyright &copy; ABDELOUAHED
         <!-- <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
          <script>document.write(new Date().getFullYear());
          </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
  <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
</svg>
</div>




